$white: #ffffff;
$lightBlue: #666ca3;
$darkBlue: #13183f;
$lightPink: #ffa7c3;
$darkPink: #f74780;
$pinkGradient: linear-gradient(180deg, #ff6f48 0.4%, #f02aa6 100%);
$blueGradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
$buttonTwoHover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$buttonThreeHover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
$grey: #83869a;
